In [1]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor
POSTGRESQL_HOST = '10.129.0.25'

!env | grep POST
conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)
cur = conn.cursor()

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [2]:
!pip install ipython-sql
%load_ext sql
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    os.environ['POSTGRESQL_USER'],
    os.environ['POSTGRESQL_PASSWORD'],
    POSTGRESQL_HOST,
    'demo'
)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
WARNING: There was an error checking the latest version of pip.

In [3]:
%%sql postgresql:///jovyan
CREATE TABLE Employees (
    EMPLOYEE_ID INT PRIMARY KEY,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    HIRE_DATE DATE,
    JOB_ID VARCHAR(10),
    MANAGER_ID INT,
    DEPARTMENT_ID INT
);

INSERT INTO Employees (EMPLOYEE_ID, FIRST_NAME, LAST_NAME, HIRE_DATE, JOB_ID, MANAGER_ID, DEPARTMENT_ID)
VALUES
(100, 'Steven', 'King', '1987-06-17', 'AD_PRES', 0, 90),
(101, 'Neena', 'Kochhar', '1987-06-18', 'AD_VP', 100, 90),
(102, 'Lex', 'DeHaan', '1987-06-19', 'AD_VP', 100, 90),
(103, 'Alexander', 'Hunold', '1987-06-20', 'IT_PROG', 102, 60),
(107, 'Diana', 'Lorentz', '1987-06-24', 'IT_PROG', 103, 60),
(108, 'Nancy', 'Greenberg', '1987-06-25', 'FI_MGR', 101, 100),
(109, 'Daniel', 'Faviet', '1987-06-26', 'FI_ACCOUNT', 108, 100),
(114, 'Den', 'Raphaely', '1987-07-01', 'PU_MAN', 100, 30),
(118, 'Guy', 'Himuro', '1987-07-05', 'PU_CLERK', 114, 30),
(144, 'Peter', 'Vargas', '1987-07-31', 'ST_CLERK', 114, 50),
(145, 'John', 'Russell', '1987-08-01', 'SA_MAN', 100, 80),
(146, 'Karen', 'Partners', '1987-08-02', 'SA_MAN', 100, 80);

(psycopg2.errors.DuplicateTable) relation "employees" already exists

[SQL: CREATE TABLE Employees (
    EMPLOYEE_ID INT PRIMARY KEY,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    HIRE_DATE DATE,
    JOB_ID VARCHAR(10),
    MANAGER_ID INT,
    DEPARTMENT_ID INT
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [23]:
%%sql postgresql:///jovyan
CREATE TABLE Departments (
    DEPARTMENT_ID INT PRIMARY KEY,
    DEPARTMENT_NAME VARCHAR(50),
    MANAGER_ID INT
);

INSERT INTO Departments (DEPARTMENT_ID, DEPARTMENT_NAME, MANAGER_ID)
VALUES
(10, 'Administration', 200),
(30, 'Purchasing', 114),
(40, 'HumanResources', 203),
(50, 'Shipping', 121),
(60, 'IT', 103),
(70, 'PublicRelations', 204),
(80, 'Sales', 145),
(90, 'Executive', 100),
(100, 'Finance', 108),
(110, 'Accounting', 205);

(psycopg2.errors.DuplicateTable) relation "departments" already exists

[SQL: CREATE TABLE Departments (
    DEPARTMENT_ID INT PRIMARY KEY,
    DEPARTMENT_NAME VARCHAR(50),
    MANAGER_ID INT
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [25]:
%%sql postgresql:///jovyan 
SELECT 
    d.DEPARTMENT_NAME AS "Department Name",
    CONCAT(m.FIRST_NAME, ' ', m.LAST_NAME) AS "Manager Name",
    COUNT(e.EMPLOYEE_ID) AS "Number of Employees"
FROM 
    Departments d
JOIN 
    Employees m ON d.MANAGER_ID = m.EMPLOYEE_ID
LEFT JOIN 
    Employees e ON e.DEPARTMENT_ID = d.DEPARTMENT_ID
GROUP BY 
    d.DEPARTMENT_NAME, m.FIRST_NAME, m.LAST_NAME
ORDER BY 
    d.DEPARTMENT_NAME;

5 rows affected.

[('Executive', 'Steven King', 3),
 ('Finance', 'Nancy Greenberg', 2),
 ('IT', 'Alexander Hunold', 2),
 ('Purchasing', 'Den Raphaely', 2),
 ('Sales', 'John Russell', 2)]