In [1]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor
POSTGRESQL_HOST = '10.129.0.25'

!env | grep POST
conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)
cur = conn.cursor()

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [2]:
!pip install ipython-sql
%load_ext sql
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    os.environ['POSTGRESQL_USER'],
    os.environ['POSTGRESQL_PASSWORD'],
    POSTGRESQL_HOST,
    'demo'
)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
WARNING: There was an error checking the latest version of pip.

In [3]:
## Task 1

In [61]:
%%sql $CONNECT_DATA
  SELECT ticket_no, COUNT(flight_id) AS flight_count
FROM Ticket_flights
GROUP BY ticket_no
HAVING COUNT(flight_id) > 3
LIMIT 1000;

1000 rows affected.

[('0005432312163', 4),
 ('0005432312164', 4),
 ('0005432312165', 4),
 ('0005432312166', 4),
 ('0005432312167', 4),
 ('0005432312168', 4),
 ('0005432312169', 4),
 ('0005432312170', 4),
 ('0005432312171', 4),
 ('0005432312172', 4),
 ('0005432312173', 4),
 ('0005432312174', 4),
 ('0005432312175', 4),
 ('0005432312176', 4),
 ('0005432312177', 4),
 ('0005432312178', 4),
 ('0005432312179', 4),
 ('0005432312180', 4),
 ('0005432312181', 4),
 ('0005432312182', 4),
 ('0005432312183', 4),
 ('0005432312184', 4),
 ('0005432312185', 4),
 ('0005432312186', 4),
 ('0005432312187', 4),
 ('0005432312188', 4),
 ('0005432312189', 4),
 ('0005432312190', 4),
 ('0005432312191', 4),
 ('0005432312192', 4),
 ('0005432312193', 4),
 ('0005432312194', 4),
 ('0005432312195', 4),
 ('0005432312196', 4),
 ('0005432312197', 4),
 ('0005432312198', 4),
 ('0005432312199', 4),
 ('0005432312200', 4),
 ('0005432312201', 4),
 ('0005432312202', 4),
 ('0005432312203', 4),
 ('0005432312204', 4),
 ('0005432312205', 4),
 ('0005432312206', 4),
 ('0005432312207', 4),
 ('0005432312208', 4),
 ('0005432312209', 4),
 ('0005432312210', 4),
 ('0005432312211', 4),
 ('0005432312212', 4),
 ('0005432312213', 4),
 ('0005432312214', 4),
 ('0005432312215', 4),
 ('0005432312216', 4),
 ('0005432312217', 4),
 ('0005432312218', 4),
 ('0005432312219', 4),
 ('0005432312220', 4),
 ('0005432312221', 4),
 ('0005432312222', 4),
 ('0005432312223', 4),
 ('0005432312224', 4),
 ('0005432312225', 4),
 ('0005432312226', 4),
 ('0005432312227', 4),
 ('0005432312228', 4),
 ('0005432312229', 4),
 ('0005432312230', 4),
 ('0005432312231', 4),
 ('0005432312232', 4),
 ('0005432312233', 4),
 ('0005432312234', 4),
 ('0005432312235', 4),
 ('0005432312236', 4),
 ('0005432312237', 4),
 ('0005432312238', 4),
 ('0005432312239', 4),
 ('0005432312240', 4),
 ('0005432312241', 4),
 ('0005432312242', 4),
 ('0005432312243', 4),
 ('0005432312244', 4),
 ('0005432312245', 4),
 ('0005432312246', 4),
 ('0005432312247', 4),
 ('0005432312248', 4),
 ('0005432312249', 4),
 ('0005432312250', 4),
 ('0005432312251', 4),
 ('0005432312252', 4),
 ('0005432312253', 4),
 ('0005432312254', 4),
 ('0005432312255', 4),
 ('0005432312256', 4),
 ('0005432312257', 4),
 ('0005432312258', 4),
 ('0005432312259', 4),
 ('0005432312260', 4),
 ('0005432312261', 4),
 ('0005432312262', 4),
 ('0005432312263', 4),
 ('0005432312264', 4),
 ('0005432312265', 4),
 ('0005432312266', 4),
 ('0005432312267', 4),
 ('0005432312268', 4),
 ('0005432312269', 4),
 ('0005432312270', 4),
 ('0005432312271', 4),
 ('0005432312272', 4),
 ('0005432312273', 4),
 ('0005432312274', 4),
 ('0005432312275', 4),
 ('0005432312276', 4),
 ('0005432312277', 4),
 ('0005432312278', 4),
 ('0005432312279', 4),
 ('0005432312280', 4),
 ('0005432312281', 4),
 ('0005432312282', 4),
 ('0005432312283', 4),
 ('0005432312284', 4),
 ('0005432312285', 4),
 ('0005432312286', 4),
 ('0005432312287', 4),
 ('0005432312288', 4),
 ('0005432312289', 4),
 ('0005432312290', 4),
 ('0005432312291', 4),
 ('0005432312292', 4),
 ('0005432312293', 4),
 ('0005432312294', 4),
 ('0005432312295', 4),
 ('0005432312296', 4),
 ('0005432312297', 4),
 ('0005432312298', 4),
 ('0005432312299', 4),
 ('0005432312300', 4),
 ('0005432312301', 4),
 ('0005432312302', 4),
 ('0005432312303', 4),
 ('0005432312304', 4),
 ('0005432312305', 4),
 ('0005432312306', 4),
 ('0005432312307', 4),
 ('0005432312308', 4),
 ('0005432312309', 4),
 ('0005432312310', 4),
 ('0005432312311', 4),
 ('0005432312312', 4),
 ('0005432312313', 4),
 ('0005432312314', 4),
 ('0005432312315', 4),
 ('0005432312316', 4),
 ('0005432312317', 4),
 ('0005432312318', 4),
 ('0005432312319', 4),
 ('0005432312320', 4),
 ('0005432312321', 4),
 ('0005432312322', 4),
 ('0005432312323', 4),
 ('0005432312324', 4),
 ('0005432312325', 4),
 ('0005432312326', 4),
 ('0005432312327', 4),
 ('0005432312328', 4),
 ('0005432312329', 4),
 ('0005432312330', 4),
 ('0005432312331', 4),
 ('0005432312332', 4),
 ('0005432312333', 4),
 ('0005432312334', 4),
 ('0005432312335', 4),
 ('0005432312336', 4),
 ('0005432312337', 4),
 ('0005432312338', 4),
 ('0005432312339', 4),
 ('0005432312340', 4),
 ('0005432312341', 4),
 ('0005432312342', 4),
 ('0005432312343', 4),
 ('0005432312344', 4),
 ('0005432312345', 4),
 ('0005432312346', 4),
 ('0005432312347', 4),
 ('0005432312348', 4),
 ('0005432312349', 4),
 ('0005432312350', 4),
 ('0005432312351', 4),
 ('0005432312352', 4),
 ('0005432312353', 4),
 ('0005432312354', 4),
 ('0005432312355', 4),
 ('0005432312356', 4),
 ('0005432312357', 4),
 ('0005432312358', 4),
 ('0005432312359', 4),
 ('0005432312360', 4),
 ('0005432312361', 4),
 ('0005432312362', 4),
 ('0005432312363', 4),
 ('0005432312364', 4),
 ('0005432312365', 4),
 ('0005432312366', 4),
 ('0005432312367', 4),
 ('0005432312368', 4),
 ('0005432312369', 4),
 ('0005432312370', 4),
 ('0005432312371', 4),
 ('0005432312372', 4),
 ('0005432312373', 4),
 ('0005432312374', 4),
 ('0005432312375', 4),
 ('0005432312376', 4),
 ('0005432312377', 4),
 ('0005432312378', 4),
 ('0005432312379', 4),
 ('0005432312380', 4),
 ('0005432312381', 4),
 ('0005432312382', 4),
 ('0005432312383', 4),
 ('0005432312384', 4),
 ('0005432312385', 4),
 ('0005432312386', 4),
 ('0005432312387', 4),
 ('0005432312388', 4),
 ('0005432312389', 4),
 ('0005432312390', 4),
 ('0005432312391', 4),
 ('0005432312392', 4),
 ('0005432312393', 4),
 ('0005432312394', 4),
 ('0005432312395', 4),
 ('0005432312396', 4),
 ('0005432312397', 4),
 ('0005432312398', 4),
 ('0005432312399', 4),
 ('0005432312400', 4),
 ('0005432312401', 4),
 ('0005432312402', 4),
 ('0005432312403', 4),
 ('0005432312404', 4),
 ('0005432312405', 4),
 ('0005432312406', 4),
 ('0005432312407', 4),
 ('0005432312408', 4),
 ('0005432312409', 4),
 ('0005432312410', 4),
 ('0005432312411', 4),
 ('0005432312412', 4),
 ('0005432312413', 4),
 ('0005432312414', 4),
 ('0005432312415', 4),
 ('0005432312416', 4),
 ('0005432312417', 4),
 ('0005432312418', 4),
 ('0005432312419', 4),
 ('0005432312420', 4),
 ('0005432312421', 4),
 ('0005432312422', 4),
 ('0005432312423', 4),
 ('0005432312424', 4),
 ('0005432312425', 4),
 ('0005432312426', 4),
 ('0005432312427', 4),
 ('0005432312428', 4),
 ('0005432312429', 4),
 ('0005432312430', 4),
 ('0005432312431', 4),
 ('0005432312432', 4),
 ('0005432312433', 4),
 ('0005432312434', 4),
 ('0005432312435', 4),
 ('0005432312436', 4),
 ('0005432312437', 4),
 ('0005432312438', 4),
 ('0005432312439', 4),
 ('0005432312440', 4),
 ('0005432312441', 4),
 ('0005432312442', 4),
 ('0005432312443', 4),
 ('0005432312444', 4),
 ('0005432312445', 4),
 ('0005432312446', 4),
 ('0005432312447', 4),
 ('0005432312448', 4),
 ('0005432312449', 4),
 ('0005432312450', 4),
 ('0005432312451', 4),
 ('0005432312452', 4),
 ('0005432312453', 4),
 ('0005432312454', 4),
 ('0005432312455', 4),
 ('0005432312456', 4),
 ('0005432312457', 4),
 ('0005432312458', 4),
 ('0005432312459', 4),
 ('0005432312460', 4),
 ('0005432312461', 4),
 ('0005432312462', 4),
 ('0005432312463', 4),
 ('0005432312464', 4),
 ('0005432312465', 4),
 ('0005432312466', 4),
 ('0005432312467', 4),
 ('0005432312468', 4),
 ('0005432312469', 4),
 ('0005432312470', 4),
 ('0005432312471', 4),
 ('0005432312472', 4),
 ('0005432312473', 4),
 ('0005432312474', 4),
 ('0005432312475', 4),
 ('0005432312476', 4),
 ('0005432312477', 4),
 ('0005432312478', 4),
 ('0005432312479', 4),
 ('0005432312480', 4),
 ('0005432312481', 4),
 ('0005432312482', 4),
 ('0005432312483', 4),
 ('0005432312484', 4),
 ('0005432312485', 4),
 ('0005432312486', 4),
 ('0005432312487', 4),
 ('0005432312488', 4),
 ('0005432312489', 4),
 ('0005432312490', 4),
 ('0005432312491', 4),
 ('0005432312492', 4),
 ('0005432312493', 4),
 ('0005432312494', 4),
 ('0005432312495', 4),
 ('0005432312496', 4),
 ('0005432312497', 4),
 ('0005432312498', 4),
 ('0005432312499', 4),
 ('0005432312500', 4),
 ('0005432312501', 4),
 ('0005432312502', 4),
 ('0005432312503', 4),
 ('0005432312504', 4),
 ('0005432312505', 4),
 ('0005432312506', 4),
 ('0005432312507', 4),
 ('0005432312508', 4),
 ('0005432312509', 4),
 ('0005432312510', 4),
 ('0005432312511', 4),
 ('0005432312512', 4),
 ('0005432312513', 4),
 ('0005432312514', 4),
 ('0005432312515', 4),
 ('0005432312516', 4),
 ('0005432312517', 4),
 ('0005432312518', 4),
 ('0005432312519', 4),
 ('0005432312520', 4),
 ('0005432312521', 4),
 ('0005432312522', 4),
 ('0005432312523', 4),
 ('0005432312524', 4),
 ('0005432312525', 4),
 ('0005432312526', 4),
 ('0005432312527', 4),
 ('0005432312528', 4),
 ('0005432312529', 4),
 ('0005432312530', 4),
 ('0005432312531', 4),
 ('0005432312532', 4),
 ('0005432312533', 4),
 ('0005432312534', 4),
 ('0005432312535', 4),
 ('0005432312536', 4),
 ('0005432312537', 4),
 ('0005432312538', 4),
 ('0005432312539', 4),
 ('0005432312540', 4),
 ('0005432312541', 4),
 ('0005432312542', 4),
 ('0005432312543', 4),
 ('0005432312544', 4),
 ('0005432312545', 4),
 ('0005432312546', 4),
 ('0005432312547', 4),
 ('0005432312548', 4),
 ('0005432312549', 4),
 ('0005432312550', 4),
 ('0005432312551', 4),
 ('0005432312552', 4),
 ('0005432312553', 4),
 ('0005432312554', 4),
 ('0005432312555', 4),
 ('0005432312556', 4),
 ('0005432312557', 4),
 ('0005432312558', 4),
 ('0005432312559', 4),
 ('0005432312560', 4),
 ('0005432312561', 4),
 ('0005432312562', 4),
 ('0005432312563', 4),
 ('0005432312564', 4),
 ('0005432312565', 4),
 ('0005432312566', 4),
 ('0005432312567', 4),
 ('0005432312568', 4),
 ('0005432312569', 4),
 ('0005432312570', 4),
 ('0005432312571', 4),
 ('0005432312572', 4),
 ('0005432312573', 4),
 ('0005432312574', 4),
 ('0005432312575', 4),
 ('0005432312576', 4),
 ('0005432312577', 4),
 ('0005432312578', 4),
 ('0005432312579', 4),
 ('0005432312580', 4),
 ('0005432312581', 4),
 ('0005432312582', 4),
 ('0005432312583', 4),
 ('0005432312584', 4),
 ('0005432312585', 4),
 ('0005432312586', 4),
 ('0005432312587', 4),
 ('0005432312588', 4),
 ('0005432312589', 4),
 ('0005432312590', 4),
 ('0005432312591', 4),
 ('0005432312592', 4),
 ('0005432312593', 4),
 ('0005432312594', 4),
 ('0005432312595', 4),
 ('0005432312596', 4),
 ('0005432312597', 4),
 ('0005432312598', 4),
 ('0005432312599', 4),
 ('0005432312600', 4),
 ('0005432312601', 4),
 ('0005432312602', 4),
 ('0005432312603', 4),
 ('0005432312604', 4),
 ('0005432312605', 4),
 ('0005432312606', 4),
 ('0005432312607', 4),
 ('0005432312608', 4),
 ('0005432312609', 4),
 ('0005432312610', 4),
 ('0005432312611', 4),
 ('0005432312612', 4),
 ('0005432312613', 4),
 ('0005432312614', 4),
 ('0005432312615', 4),
 ('0005432312616', 4),
 ('0005432312617', 4),
 ('0005432312618', 4),
 ('0005432312619', 4),
 ('0005432312620', 4),
 ('0005432312621', 4),
 ('0005432312622', 4),
 ('0005432312623', 4),
 ('0005432312624', 4),
 ('0005432312625', 4),
 ('0005432312626', 4),
 ('0005432312627', 4),
 ('0005432312628', 4),
 ('0005432312629', 4),
 ('0005432312630', 4),
 ('0005432312631', 4),
 ('0005432312632', 4),
 ('0005432312633', 4),
 ('0005432312634', 4),
 ('0005432312635', 4),
 ('0005432312636', 4),
 ('0005432312637', 4),
 ('0005432312638', 4),
 ('0005432312639', 4),
 ('0005432312640', 4),
 ('0005432312641', 4),
 ('0005432312642', 4),
 ('0005432312643', 4),
 ('0005432312644', 4),
 ('0005432312645', 4),
 ('0005432312646', 4),
 ('0005432312647', 4),
 ('0005432312648', 4),
 ('0005432312649', 4),
 ('0005432312650', 4),
 ('0005432312651', 4),
 ('0005432312652', 4),
 ('0005432312653', 4),
 ('0005432312654', 4),
 ('0005432312655', 4),
 ('0005432312656', 4),
 ('0005432312657', 4),
 ('0005432312658', 4),
 ('0005432312659', 4),
 ('0005432312660', 4),
 ('0005432312661', 4),
 ('0005432312662', 4),
 ('0005432312663', 4),
 ('0005432312664', 4),
 ('0005432312665', 4),
 ('0005432312666', 4),
 ('0005432312667', 4),
 ('0005432312668', 4),
 ('0005432312669', 4),
 ('0005432312670', 4),
 ('0005432312671', 4),
 ('0005432312672', 4),
 ('0005432312673', 4),
 ('0005432312674', 4),
 ('0005432312675', 4),
 ('0005432312676', 4),
 ('0005432312677', 4),
 ('0005432312678', 4),
 ('0005432312679', 4),
 ('0005432312680', 4),
 ('0005432312681', 4),
 ('0005432312682', 4),
 ('0005432312683', 4),
 ('0005432312684', 4),
 ('0005432312685', 4),
 ('0005432312686', 4),
 ('0005432312687', 4),
 ('0005432312688', 4),
 ('0005432312689', 4),
 ('0005432312690', 4),
 ('0005432312691', 4),
 ('0005432312692', 4),
 ('0005432312693', 4),
 ('0005432312694', 4),
 ('0005432312695', 4),
 ('0005432312696', 4),
 ('0005432312697', 4),
 ('0005432312698', 4),
 ('0005432312699', 4),
 ('0005432312700', 4),
 ('0005432312701', 4),
 ('0005432312702', 4),
 ('0005432312703', 4),
 ('0005432312704', 4),
 ('0005432312705', 4),
 ('0005432312706', 4),
 ('0005432312707', 4),
 ('0005432312708', 4),
 ('0005432312709', 4),
 ('0005432312710', 4),
 ('0005432312711', 4),
 ('0005432312712', 4),
 ('0005432312713', 4),
 ('0005432312714', 4),
 ('0005432312715', 4),
 ('0005432312716', 4),
 ('0005432312717', 4),
 ('0005432312718', 4),
 ('0005432312719', 4),
 ('0005432312720', 4),
 ('0005432312721', 4),
 ('0005432312722', 4),
 ('0005432312723', 4),
 ('0005432312724', 4),
 ('0005432312725', 4),
 ('0005432312726', 4),
 ('0005432312727', 4),
 ('0005432312728', 4),
 ('0005432312729', 4),
 ('0005432312730', 4),
 ('0005432312731', 4),
 ('0005432312732', 4),
 ('0005432312733', 4),
 ('0005432312734', 4),
 ('0005432312735', 4),
 ('0005432312736', 4),
 ('0005432312737', 4),
 ('0005432312738', 4),
 ('0005432312739', 4),
 ('0005432312740', 4),
 ('0005432312741', 4),
 ('0005432312742', 4),
 ('0005432312743', 4),
 ('0005432312744', 4),
 ('0005432312745', 4),
 ('0005432312746', 4),
 ('0005432312747', 4),
 ('0005432312748', 4),
 ('0005432312749', 4),
 ('0005432312750', 4),
 ('0005432312751', 4),
 ('0005432312752', 4),
 ('0005432312753', 4),
 ('0005432312754', 4),
 ('0005432312755', 4),
 ('0005432312756', 4),
 ('0005432312757', 4),
 ('0005432312758', 4),
 ('0005432312759', 4),
 ('0005432312760', 4),
 ('0005432312761', 4),
 ('0005432312762', 4),
 ('0005432312763', 4),
 ('0005432312764', 4),
 ('0005432312765', 4),
 ('0005432312766', 4),
 ('0005432312767', 4),
 ('0005432312768', 4),
 ('0005432312769', 4),
 ('0005432312770', 4),
 ('0005432312771', 4),
 ('0005432312772', 4),
 ('0005432312773', 4),
 ('0005432312774', 4),
 ('0005432312775', 4),
 ('0005432312776', 4),
 ('0005432312777', 4),
 ('0005432312778', 4),
 ('0005432312779', 4),
 ('0005432312780', 4),
 ('0005432312781', 4),
 ('0005432312782', 4),
 ('0005432312783', 4),
 ('0005432312784', 4),
 ('0005432312785', 4),
 ('0005432312786', 4),
 ('0005432312787', 4),
 ('0005432312788', 4),
 ('0005432312789', 4),
 ('0005432312790', 4),
 ('0005432312791', 4),
 ('0005432312792', 4),
 ('0005432312793', 4),
 ('0005432312794', 4),
 ('0005432312795', 4),
 ('0005432312796', 4),
 ('0005432312797', 4),
 ('0005432312798', 4),
 ('0005432312799', 4),
 ('0005432312800', 4),
 ('0005432312801', 4),
 ('0005432312802', 4),
 ('0005432312803', 4),
 ('0005432312804', 4),
 ('0005432312805', 4),
 ('0005432312806', 4),
 ('0005432312807', 4),
 ('0005432312808', 4),
 ('0005432312809', 4),
 ('0005432312810', 4),
 ('0005432312811', 4),
 ('0005432312812', 4),
 ('0005432312813', 4),
 ('0005432312814', 4),
 ('0005432312815', 4),
 ('0005432312816', 4),
 ('0005432312817', 4),
 ('0005432312818', 4),
 ('0005432312819', 4),
 ('0005432312820', 4),
 ('0005432312821', 4),
 ('0005432312822', 4),
 ('0005432312823', 4),
 ('0005432312824', 4),
 ('0005432312825', 4),
 ('0005432312826', 4),
 ('0005432312827', 4),
 ('0005432312828', 4),
 ('0005432312829', 4),
 ('0005432312830', 4),
 ('0005432312831', 4),
 ('0005432312832', 4),
 ('0005432312833', 4),
 ('0005432312834', 4),
 ('0005432312835', 4),
 ('0005432312836', 4),
 ('0005432312837', 4),
 ('0005432312838', 4),
 ('0005432312839', 4),
 ('0005432312840', 4),
 ('0005432312841', 4),
 ('0005432312842', 4),
 ('0005432312843', 4),
 ('0005432312844', 4),
 ('0005432312845', 4),
 ('0005432312846', 4),
 ('0005432312847', 4),
 ('0005432312848', 4),
 ('0005432312849', 4),
 ('0005432312850', 4),
 ('0005432312851', 4),
 ('0005432312852', 4),
 ('0005432312853', 4),
 ('0005432312854', 4),
 ('0005432312855', 4),
 ('0005432312856', 4),
 ('0005432312857', 4),
 ('0005432312858', 4),
 ('0005432312859', 4),
 ('0005432312860', 4),
 ('0005432312861', 4),
 ('0005432312862', 4),
 ('0005432312863', 4),
 ('0005432312864', 4),
 ('0005432312865', 4),
 ('0005432312866', 4),
 ('0005432312867', 4),
 ('0005432312868', 4),
 ('0005432312869', 4),
 ('0005432312870', 4),
 ('0005432312871', 4),
 ('0005432312872', 4),
 ('0005432312873', 4),
 ('0005432312874', 4),
 ('0005432312875', 4),
 ('0005432312876', 4),
 ('0005432312877', 4),
 ('0005432312878', 4),
 ('0005432312879', 4),
 ('0005432312880', 4),
 ('0005432312881', 4),
 ('0005432312882', 4),
 ('0005432312883', 4),
 ('0005432312884', 4),
 ('0005432312885', 4),
 ('0005432312886', 4),
 ('0005432312887', 4),
 ('0005432312888', 4),
 ('0005432312889', 4),
 ('0005432312890', 4),
 ('0005432312891', 4),
 ('0005432312892', 4),
 ('0005432312893', 4),
 ('0005432312894', 4),
 ('0005432312895', 4),
 ('0005432312896', 4),
 ('0005432312897', 4),
 ('0005432312898', 4),
 ('0005432312899', 4),
 ('0005432312900', 4),
 ('0005432312901', 4),
 ('0005432312902', 4),
 ('0005432312903', 4),
 ('0005432312904', 4),
 ('0005432312905', 4),
 ('0005432312906', 4),
 ('0005432312907', 4),
 ('0005432312908', 4),
 ('0005432312909', 4),
 ('0005432312910', 4),
 ('0005432312911', 4),
 ('0005432312912', 4),
 ('0005432312913', 4),
 ('0005432312914', 4),
 ('0005432312915', 4),
 ('0005432312916', 4),
 ('0005432312917', 4),
 ('0005432312918', 4),
 ('0005432312919', 4),
 ('0005432312920', 4),
 ('0005432312921', 4),
 ('0005432312922', 4),
 ('0005432312923', 4),
 ('0005432312924', 4),
 ('0005432312925', 4),
 ('0005432312926', 4),
 ('0005432312927', 4),
 ('0005432312928', 4),
 ('0005432312929', 4),
 ('0005432312930', 4),
 ('0005432312931', 4),
 ('0005432312932', 4),
 ('0005432312933', 4),
 ('0005432312934', 4),
 ('0005432312935', 4),
 ('0005432312936', 4),
 ('0005432312937', 4),
 ('0005432312938', 4),
 ('0005432312939', 4),
 ('0005432312940', 4),
 ('0005432312941', 4),
 ('0005432312942', 4),
 ('0005432312943', 4),
 ('0005432312944', 4),
 ('0005432312945', 4),
 ('0005432312946', 4),
 ('0005432312947', 4),
 ('0005432312948', 4),
 ('0005432312949', 4),
 ('0005432312950', 4),
 ('0005432312951', 4),
 ('0005432312952', 4),
 ('0005432312953', 4),
 ('0005432312954', 4),
 ('0005432312955', 4),
 ('0005432312956', 4),
 ('0005432312957', 4),
 ('0005432312958', 4),
 ('0005432312959', 4),
 ('0005432312960', 4),
 ('0005432312961', 4),
 ('0005432312962', 4),
 ('0005432312963', 4),
 ('0005432312964', 4),
 ('0005432312965', 4),
 ('0005432312966', 4),
 ('0005432312967', 4),
 ('0005432312968', 4),
 ('0005432312969', 4),
 ('0005432312970', 4),
 ('0005432312971', 4),
 ('0005432312972', 4),
 ('0005432312973', 4),
 ('0005432312974', 4),
 ('0005432312975', 4),
 ('0005432312976', 4),
 ('0005432312977', 4),
 ('0005432312978', 4),
 ('0005432312979', 4),
 ('0005432312980', 4),
 ('0005432312981', 4),
 ('0005432312982', 4),
 ('0005432312983', 4),
 ('0005432312984', 4),
 ('0005432312985', 4),
 ('0005432312986', 4),
 ('0005432312987', 4),
 ('0005432312988', 4),
 ('0005432312989', 4),
 ('0005432312990', 4),
 ('0005432312991', 4),
 ('0005432312992', 4),
 ('0005432312993', 4),
 ('0005432312994', 4),
 ('0005432312995', 4),
 ('0005432312996', 4),
 ('0005432312997', 4),
 ('0005432312998', 4),
 ('0005432312999', 4),
 ('0005432313000', 4),
 ('0005432313001', 4),
 ('0005432313002', 4),
 ('0005432313003', 4),
 ('0005432313004', 4),
 ('0005432313005', 4),
 ('0005432313006', 4),
 ('0005432313007', 4),
 ('0005432313008', 4),
 ('0005432313009', 4),
 ('0005432313010', 4),
 ('0005432313011', 4),
 ('0005432313012', 4),
 ('0005432313013', 4),
 ('0005432313014', 4),
 ('0005432313015', 4),
 ('0005432313016', 4),
 ('0005432313017', 4),
 ('0005432313018', 4),
 ('0005432313019', 4),
 ('0005432313020', 4),
 ('0005432313021', 4),
 ('0005432313022', 4),
 ('0005432313023', 4),
 ('0005432313024', 4),
 ('0005432313025', 4),
 ('0005432313026', 4),
 ('0005432313027', 4),
 ('0005432313028', 4),
 ('0005432313029', 4),
 ('0005432313030', 4),
 ('0005432313031', 4),

In [63]:
## Task 2

In [62]:
%%sql $CONNECT_DATA
    SELECT COUNT(*)
FROM (
    SELECT ticket_no
    FROM Ticket_flights
    GROUP BY ticket_no
    HAVING COUNT(flight_id) = 5
) AS exact_five_flights;

1 rows affected.

[(54,)]

In [11]:
#Task 3

In [46]:
import psycopg2

with psycopg2.connect(
    dbname='jovyan'
) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT datname FROM pg_database')
        records = cur.fetchall()
        
print(records)

[('postgres',), ('jovyan',), ('template1',), ('template0',)]

In [47]:
%%sql postgresql:///jovyan
CREATE TABLE Employees (
    EMPLOYEE_ID INT PRIMARY KEY,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    HIRE_DATE DATE,
    JOB_ID VARCHAR(10),
    MANAGER_ID INT,
    DEPARTMENT_ID INT
);

INSERT INTO Employees (EMPLOYEE_ID, FIRST_NAME, LAST_NAME, HIRE_DATE, JOB_ID, MANAGER_ID, DEPARTMENT_ID)
VALUES
(100, 'Steven', 'King', '1987-06-17', 'AD_PRES', 0, 90),
(101, 'Neena', 'Kochhar', '1987-06-18', 'AD_VP', 100, 90),
(102, 'Lex', 'DeHaan', '1987-06-19', 'AD_VP', 100, 90),
(103, 'Alexander', 'Hunold', '1987-06-20', 'IT_PROG', 102, 60),
(107, 'Diana', 'Lorentz', '1987-06-24', 'IT_PROG', 103, 60),
(108, 'Nancy', 'Greenberg', '1987-06-25', 'FI_MGR', 101, 100),
(109, 'Daniel', 'Faviet', '1987-06-26', 'FI_ACCOUNT', 108, 100),
(114, 'Den', 'Raphaely', '1987-07-01', 'PU_MAN', 100, 30),
(118, 'Guy', 'Himuro', '1987-07-05', 'PU_CLERK', 114, 30),
(144, 'Peter', 'Vargas', '1987-07-31', 'ST_CLERK', 114, 50),
(145, 'John', 'Russell', '1987-08-01', 'SA_MAN', 100, 80),
(146, 'Karen', 'Partners', '1987-08-02', 'SA_MAN', 100, 80);

Done.
12 rows affected.

[]

In [52]:
%%sql postgresql:///jovyan
CREATE TABLE Departments (
    DEPARTMENT_ID INT PRIMARY KEY,
    DEPARTMENT_NAME VARCHAR(50),
    MANAGER_ID INT
);

INSERT INTO Departments (DEPARTMENT_ID, DEPARTMENT_NAME, MANAGER_ID)
VALUES
(10, 'Administration', 200),
(30, 'Purchasing', 114),
(40, 'HumanResources', 203),
(50, 'Shipping', 121),
(60, 'IT', 103),
(70, 'PublicRelations', 204),
(80, 'Sales', 145),
(90, 'Executive', 100),
(100, 'Finance', 108),
(110, 'Accounting', 205);

Done.
10 rows affected.

[]

In [53]:
%%sql postgresql:///jovyan
    SELECT d.DEPARTMENT_NAME, e.FIRST_NAME || ' ' || e.LAST_NAME AS Full_Name
FROM Employees e
JOIN Departments d ON e.DEPARTMENT_ID = d.DEPARTMENT_ID
WHERE e.HIRE_DATE = (SELECT MIN(HIRE_DATE) FROM Employees);

1 rows affected.

[('Executive', 'Steven King')]